nav.pt-5.navbar-expand-lg
	.container.d-flex.flex-column
		a(href='index.html').navbar-brand.logo.mb-md-3.mb-lg-5.mx-md-auto
			img(src="images/logo.png", alt="logo")

		button(type='button' , data-toggle='collapse' , data-target='#navbarsExampleDefault' , aria-controls='navbarsExampleDefault' , aria-expanded='false' , aria-label='Toggle navigation').navbar-toggler.navbar-toggler-right
			span.icon-Align-JustifyAll

		div#navbarsExampleDefault.collapse.navbar-collapse.justify-content-center
			ul.navbar-nav
				li.nav-item
					a(href='#').nav-link.active Home
				li.nav-item
					a(href='#').nav-link Projects
				li.nav-item
					a(href='#').nav-link Gallery
				li.nav-item
					a(href='#').nav-link Shortcodes
				li.nav-item
					a(href='#').nav-link Blog
				li.nav-item
					a(href='#').nav-link Contact