nav.navbar.navbar-expand-lg.px-md-3.px-lg-0
	.container-fluid
		a(href='index.html').navbar-brand.logo
			img(src="images/logo.png", alt="logo")

		button(type='button' , data-toggle='collapse' , data-target='#navbarsExampleDefault' , aria-controls='navbarsExampleDefault' , aria-expanded='false' , aria-label='Toggle navigation').navbar-toggler.navbar-toggler-right
			span.icon-Align-JustifyAll

		div#navbarsExampleDefault.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li.nav-item
					a(href='#').nav-link.active Home
				li.nav-item
					a(href='#').nav-link Projects
				li.nav-item
					a(href='#').nav-link Gallery
				li.nav-item
					a(href='#').nav-link Shortcodes
				li.nav-item
					a(href='#').nav-link Blog
				li.nav-item
					a(href='#').nav-link Contact