section.promo.mt-5
	img(src="images/banner.jpg", alt="banner")
	a(href="#").teaser__custom__link
		.promo__wrap
			.promo__info
				h1 This is very long title to show how the content stretches the box <span>No button activated</span>
				.description
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eveniet aliquam voluptate numquam deserunt quae cumque error ipsum delectus mollitia assumenda tenetur rem, ducimus perspiciatis. Sapiente dolorem vitae ipsa provident.