section.promo.mt-5
	img(src="images/banner.jpg", alt="banner")
	.promo__wrap
		.promo__info
			h1 Discover the luxury. <span>Image left text right.</span>
			.description
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eveniet aliquam voluptate numquam deserunt quae cumque error ipsum delectus mollitia assumenda tenetur rem, ducimus perspiciatis. Sapiente dolorem vitae ipsa provident.
		.visit__box.visit--promo
			p Shedule a Visit
			i PropertyX
			a(href="#").btn-arrow
				span.icon-Arrow-OutRight