section.projects__small.masonry
	.container
		h1 Projects Masonry Grid
		ul.filter__nav
			li: a(href="#").active Show all
			li: a(href="#") Bauhaus
			li: a(href="#") Classic
			li: a(href="#") Modern
			li: a(href="#") Private

	.masonry__area
		.masonry__item
			.project__small
				.project__image
					a(href="#")
						img(src="images/projects.jpg", alt="project")
				.project__describe
					h4 22 room bauhaus
					h3.project__title.small--title Luxury Villa Bern <span>$ 4.200.000</span>
		
		.masonry__item.item--width-2
			.project__small
				.project__image
					a(href="#")
						img(src="images/projects.jpg", alt="project")
				.project__describe
					h4 22 room bauhaus
					h3.project__title.small--title Luxury Villa Bern <span>$ 4.200.000</span>

		.masonry__item.item--width-3
			.project__small
				.project__image
					a(href="#")
						img(src="images/projects.jpg", alt="project")
				.project__describe
					h4 22 room bauhaus
					h3.project__title.small--title Luxury Villa Bern <span>$ 4.200.000</span>
		
		.masonry__item
			.project__small
				.project__image
					a(href="#")
						img(src="images/projects.jpg", alt="project")
				.project__describe
					h4 22 room bauhaus
					h3.project__title.small--title Luxury Villa Bern <span>$ 4.200.000</span>

		.masonry__item.item--width-2
			.project__small
				.project__image
					a(href="#")
						img(src="images/projects.jpg", alt="project")
				.project__describe
					h4 22 room bauhaus
					h3.project__title.small--title Luxury Villa Bern <span>$ 4.200.000</span>
		
		.masonry__item
			.project__small
				.project__image
					a(href="#")
						img(src="images/projects.jpg", alt="project")
				.project__describe
					h4 22 room bauhaus
					h3.project__title.small--title Luxury Villa Bern <span>$ 4.200.000</span>