footer.footer-center.text-center
	.container
		.row
			.col-md-12
				ul.footer__nav
					li: a(href="#").active Home
					li: a(href="#") Information
					li: a(href="#") Gallery
					li: a(href="#") Blog
					li: a(href="#") Contact

				.social__link
					a(href="#")
						span.icon-Twitter
					a(href="#")
						span.icon-Instagram
					a(href="#")
						span.icon-Linkedin
					a(href="#")
						span.icon-Facebook

				.footer__logo
					a(href="index.html").logo
						img(src="images/logo.png", alt="logo")

				.copyright
					p PropertyX Copyright 2017 by themetwins. WordPress theme crafted with love.

				a(href="#").top
					span.icon-Up