footer
	.container
		.row
			.col-md-7.col-lg-8.order-md-3
				.footer__logo.text-center
					a(href="index.html").logo
						img(src="images/logo.png", alt="logo")
					
			.col-md-2
				ul.footer__nav
					li: a(href="#").active Home
					li: a(href="#") Information
					li: a(href="#") Gallery
					li: a(href="#") Blog
					li: a(href="#") Contact

			.col-md-3.col-lg-2.order-md-7
				.social__link.d-flex
					a(href="#").mx-auto
						span.icon-Twitter
					a(href="#").mx-auto
						span.icon-Instagram
					a(href="#").mx-auto
						span.icon-Linkedin
					a(href="#").mx-auto
						span.icon-Facebook

		.row
			.col-md-11
				.copyright
					p PropertyX Copyright 2017 by themetwins. WordPress theme crafted with love.
			.col-md-1.text-right
				a(href="#").top
					span.icon-Up