doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' , content='IE=edge')
		meta(name='viewport' , content='width=device-width , initial-scale=1')
		meta(name='description' , content='')
		meta(name='keywords' , content='')
		title Propertyx
		link(rel='icon' , href='favicon.ico' type='image/x-icon')
		link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' , integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M' , crossorigin='anonymous')
		link(rel='stylesheet' , href='css/line-icons.css')
		link(rel='stylesheet' , href='css/magnific-popup.css')
		link(rel='stylesheet' , href='css/slick.css')
		link(rel='stylesheet' , href='css/slick-theme.css')
		link(rel='stylesheet' , href='css/style.css')
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body

		nav.navbar.navbar-expand-lg
			.container
				a(href='index.html').navbar-brand.logo
					img(src="images/logo.png", alt="logo")

				button(type='button' , data-toggle='collapse' , data-target='#navbarsExampleDefault' , aria-controls='navbarsExampleDefault' , aria-expanded='false' , aria-label='Toggle navigation').navbar-toggler.navbar-toggler-right
					span.icon-Align-JustifyAll

				div#navbarsExampleDefault.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item
							a(href='#').nav-link.active Home
						li.nav-item
							a(href='#').nav-link Projects
						li.nav-item
							a(href='#').nav-link Gallery
						li.nav-item
							a(href='#').nav-link Shortcodes
						li.nav-item
							a(href='#').nav-link Blog
						li.nav-item
							a(href='#').nav-link Contact

		section.intro
			.container
				h1 Discover the luxury. <span>Your personal sanctuary.</span>

		section.wrap__slider
			.slider
				img(src="images/slider.jpg", alt="slider")
				.container
					.visit__box
						p Shedule a Visit
						i PropertyX
						a(href="#").btn-arrow
							span.icon-Arrow-OutRight

		section.slider__desc
			.container
				.row
					.col-md-6
						h3 This House is designed to define new standarts in modern living. <span>Contact us for more information and plan new lifestyle right away.</span>
						a(href="#").primary__btn Shedule a Visit <span class='icon-Arrow-OutRight'></span>

					.col-md-6
						.row
							.col-md-6
								h5 Total Property Space
								.info__box
									span.icon-Duplicate-Layer
									|2200 sft
							.col-md-6
								h5 Year Of Creation
								.info__box
									span.icon-Compass
									|2016

						.row
							.col-md-5
								h5 Architects
								.info__label
									p Smith & Kine International, Themetwins Interriors
							.col-md-7
								h5 Location
								.info__label
									p Kurfursten Damm 21, <br> Berlin - Germany

						.description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nihil, accusantium voluptatibus, est similique enim omnis optio quae commodi odio cum alias libero rerum mollitia, cupiditate id quisquam repellendus, nostrum.

		section.definition
			.container
				h1 A new definition of living
				.row
					.col-md-4
						.defini__box
							h4 Change your living
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus harum dolore pariatur neque quam repudiandae minus saepe omnis deserunt. Perspiciatis aut maxime voluptas porro iure doloremque magnam consequuntur non, molestiae!
							a(href="#").secondary__btn View full list <span class='icon-Arrow-OutRight'></span>

					.col-md-4
						.defini__box
							h4 Newest Design
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus harum dolore pariatur neque quam repudiandae minus saepe omnis deserunt. Perspiciatis aut maxime voluptas porro iure doloremque magnam consequuntur non, molestiae!
							a(href="#").secondary__btn View full list <span class='icon-Arrow-OutRight'></span>

					.col-md-4.hidden-md-down
						.defini__box
							h4 Environmental friendly
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus harum dolore pariatur neque quam repudiandae minus saepe omnis deserunt. Perspiciatis aut maxime voluptas porro iure doloremque magnam consequuntur non, molestiae!
							a(href="#").secondary__btn View full list <span class='icon-Arrow-OutRight'></span>

					.col-md-4.hidden-md-down
						.defini__box
							h4 Made of best material
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus harum dolore pariatur neque quam repudiandae minus saepe omnis deserunt. Perspiciatis aut maxime voluptas porro iure doloremque magnam consequuntur non, molestiae!
							a(href="#").secondary__btn View full list <span class='icon-Arrow-OutRight'></span>

					.col-md-4.hidden-md-down
						.defini__box
							h4 Newest glass technology
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus harum dolore pariatur neque quam repudiandae minus saepe omnis deserunt. Perspiciatis aut maxime voluptas porro iure doloremque magnam consequuntur non, molestiae!
							a(href="#").secondary__btn View full list <span class='icon-Arrow-OutRight'></span>

					.col-md-4.hidden-md-down
						.defini__box
							h4 Solar panel construction roof
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus harum dolore pariatur neque quam repudiandae minus saepe omnis deserunt. Perspiciatis aut maxime voluptas porro iure doloremque magnam consequuntur non, molestiae!
							a(href="#").secondary__btn View full list <span class='icon-Arrow-OutRight'></span>

		section.gallery
			.wrap__gallery
				.contaiiner-fluid
					.row.no-gutters.gallery__slide
						.col-md-4
							a(href="images/gallery.jpg").gallery__item
								img(src="images/gallery.jpg", alt="gallery")
								.zoom__box
									span.icon-Magnifi-Glass
						.col-md-4
							a(href="images/gallery.jpg").gallery__item
								img(src="images/gallery.jpg", alt="gallery")
								.zoom__box
									span.icon-Magnifi-Glass
						.col-md-4
							a(href="images/gallery.jpg").gallery__item
								img(src="images/gallery.jpg", alt="gallery")
								.zoom__box
									span.icon-Magnifi-Glass

			.container
				.row
					.col-md-5.ml-5
						h3 This House is designed to define new standarts in modern living.
					.col-md-5.ml-5
						.description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorum cupiditate maxime consectetur possimus nemo culpa delectus dicta non doloribus voluptatibus, quibusdam placeat suscipit porro harum amet nesciunt labore distinctio.

		section.full__expose
			.container
				h2.d-md-none Full Expose Area
				.row
					.col-md-3
						.review__box
							h3 Review the full expose
							.download Download PDF
								a(href="#").download__btn
									span.icon-Download

					.col-md-5
						.single__img
							img(src="images/full-expose.jpg", alt="gallery")

					.col-md-4
						.full__area
							h2 Full Expose Area
							.description
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam provident neque impedit, hic quasi quam, quidem distinctio excepturi ipsam dolore cum eligendi sunt atque quae eos. Neque odio corporis ad.
							a(href="#").default__btn Information expose brochure

		section.promo
			img(src="images/slider.jpg", alt="image")
			.promo__wrap
				.promo__info
					h1 Discover the luxury. <span>Image left text right.</span>
					.description
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eveniet aliquam voluptate numquam deserunt quae cumque error ipsum delectus mollitia assumenda tenetur rem, ducimus perspiciatis. Sapiente dolorem vitae ipsa provident.
				.visit__box.visit--promo
					p Shedule a Visit
					i PropertyX
					a(href="#").btn-arrow
						span.icon-Arrow-OutRight

		section.carousel
			.container
				h1 Image Carousel
				.image__carousel
					.slide
						.row
							.col-md-7
								img(src="images/carousel.jpg", alt="carousel")
							.col-md-5
								.carousel__describe
									h2 Ground Floor
									.row
										.col-md-6
											h5.active--color Total Property Space
											.info__box.active--color
												span.icon-Duplicate-Layer
												|2200 sft
										.col-md-6
											h5.active--color Total Property Space
											.info__box.active--color
												span.icon-Duplicate-Layer
												|2200 sft
									h5.active--color Description
									p.active--color Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus? Maxime explicabo aliquam at sed architecto vitae vero. Vitae facilis, neque facere similique delectus minima voluptatum voluptate, possimus ipsum assumenda.
					.slide
						.row
							.col-md-7
								img(src="images/carousel.jpg", alt="carousel")
							.col-md-5
								.carousel__describe
									h2 Ground
									.row
										.col-md-6
											h5.active--color Total Property Space
											.info__box.active--color
												span.icon-Duplicate-Layer
												|2200 sft
										.col-md-6
											h5.active--color Total Property Space
											.info__box.active--color
												span.icon-Duplicate-Layer
												|2200 sft
									h5.active--color Description
									p.active--color Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus? Maxime explicabo aliquam at sed architecto vitae vero. Vitae facilis, neque facere similique delectus minima voluptatum voluptate, possimus ipsum assumenda.

					.slide
						.row
							.col-md-7
								img(src="images/carousel.jpg", alt="carousel")
							.col-md-5
								.carousel__describe
									h2 Just Floor
									.row
										.col-md-6
											h5.active--color Total Property Space
											.info__box.active--color
												span.icon-Duplicate-Layer
												|2200 sft
										.col-md-6
											h5.active--color Total Property Space
											.info__box.active--color
												span.icon-Duplicate-Layer
												|2200 sft
									h5.active--color Description
									p.active--color Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus? Maxime explicabo aliquam at sed architecto vitae vero. Vitae facilis, neque facere similique delectus minima voluptatum voluptate, possimus ipsum assumenda.

		section.projects.divider
			.container
				h1 Projects Large
				ul.filter__nav
					li: a(href="#" , data-filter="*").active Show all
					li: a(href="#" , data-filter=".bauhaus") Bauhaus
					li: a(href="#" , data-filter=".classic") Classic
					li: a(href="#" , data-filter=".modern") Modern
					li: a(href="#" , data-filter=".private") Private

				.project__area
					.project.grid__item.bauhaus
						.row
							.col-md-8.order-md-4
								.project__image
									img(src="images/projects.jpg", alt="project")
							.col-md-4
								.project__describe
									h4 22 room bauhaus
									h2.project__title Luxury Villa Bern <span>$ 12.499.00</span>
									.description
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio perferendis, maiores ullam nemo cum vitae maxime, dolore. Excepturi, suscipit, vel. Nostrum reiciendis itaque...
									a(href="#").secondary__btn.grey--color View Expose <span class='icon-Arrow-OutRight'></span>

					.project.grid__item.classic
						.row
							.col-md-8.order-md-4
								.project__image
									img(src="images/projects.jpg", alt="project")
							.col-md-4
								.project__describe
									h4 22 room bauhaus
									h2.project__title Luxury Villa Bern <span>$ 12.499.00</span>
									.description
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio perferendis, maiores ullam nemo cum vitae maxime, dolore. Excepturi, suscipit, vel.
									a(href="#").secondary__btn.grey--color View Expose <span class='icon-Arrow-OutRight'></span>

					.project.grid__item.modern
						.row
							.col-md-8.order-md-4
								.project__image
									img(src="images/projects.jpg", alt="project")
							.col-md-4
								.project__describe
									h4 22 room bauhaus
									h2.project__title Luxury Villa Bern <span>$ 12.499.00</span>
									.description
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio perferendis, maiores ullam nemo cum vitae maxime, dolore. Excepturi, suscipit, vel. Nostrum reiciendis...
									a(href="#").secondary__btn.grey--color View Expose <span class='icon-Arrow-OutRight'></span>

		section.projects__small.divider.d-none.d-lg-block
			.container
				h1 Projects Small
				ul.filter__nav
					li: a(href="#").active Show all
					li: a(href="#") Bauhaus
					li: a(href="#") Classic
					li: a(href="#") Modern
					li: a(href="#") Private

				.row
					- for (i = 0; i <= 5; i++)
						.col-md-4
							.project__small
								.project__image
										img(src="images/projects.jpg", alt="project")
								.project__describe
									h4 22 room bauhaus
									h3.project__title.small--title Luxury Villa Bern <span>$ 4.200.000</span>
									.description
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio perferendis, maiores ullam nemo cum vitae maxime, dolore. Excepturi, suscipit, vel.
									a(href="#").secondary__btn.grey--color View Expose <span class='icon-Arrow-OutRight'></span>

		section.contact.divider
			.container
				h1 Get in Contact
				.row
					.col-md-5
						.project__describe.mt-4
							h4 How to contact us
							h2.project__title Berlin Office <span>Behringstrasse 5</span> <span>13322 Berlin</span> <span>Germany</span>
							.contact__info
								h4 P. <span>0049 12345 8000 800 9</span>
								h4 F. <span>0049 12345 8000 800 10</span>
								h4 M. <span>info@propertyx.com</span>
				.map
					img(src="images/map.jpg", alt="map")

		section.promo.right--side
			img(src="images/slider.jpg", alt="image")
			.promo__wrap
				.promo__info
					h1 Discover the luxury. <span>Image left text right.</span>
					.description
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eveniet aliquam voluptate numquam deserunt quae cumque error ipsum delectus mollitia assumenda tenetur rem, ducimus perspiciatis. Sapiente dolorem vitae ipsa provident.
				.visit__box.visit--promo
					p Shedule a Visit
					i PropertyX
					a(href="#").btn-arrow
						span.icon-Arrow-OutRight

		section.news
			.container
				h1 Newest Articles
				.row
					.col-md-6
						article.article
							.article__date
								span.icon-Calendar-4
								| 09/14/2017
							h3: a(href="#") All you should know about blog articles in modern webdesign
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas debitis, quae dolorem illum, perspiciatis molestias non tenetur neque fugiat eaque, cum ipsum eligendi totam, voluptates iure quis sed suscipit!
							.article__info
								a(href="#").default__btn Category 1
								a(href="#").secondary__btn.float-right Read full article <span class='icon-Arrow-OutRight'></span>

					.col-md-6
						article.article
							.article__date
								span.icon-Calendar-4
								| 09/14/2017
							h3: a(href="#") This in an Article just one line
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas debitis, quae dolorem illum, perspiciatis molestias non tenetur neque fugiat eaque, cum ipsum eligendi totam, voluptates iure quis sed suscipit!
							.article__info
								a(href="#").default__btn Category 1
								a(href="#").secondary__btn.float-right Read full article <span class='icon-Arrow-OutRight'></span>

					.col-md-6
						article.article
							.article__date
								span.icon-Calendar-4
								| 09/14/2017
							h3: a(href="#") PropertyX receives full new design
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas debitis, quae dolorem illum, perspiciatis molestias non tenetur neque fugiat eaque, cum ipsum eligendi totam, voluptates iure quis sed suscipit!
							.article__info
								a(href="#").default__btn Category 1
								a(href="#").secondary__btn.float-right Read full article <span class='icon-Arrow-OutRight'></span>

					.col-md-6
						article.article
							.article__date
								span.icon-Calendar-4
								| 09/14/2017
							h3: a(href="#") All you should know about blog articles in modern webdesign
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas debitis, quae dolorem illum, perspiciatis molestias non tenetur neque fugiat eaque, cum ipsum eligendi totam, voluptates iure quis sed suscipit!
							.article__info
								a(href="#").default__btn Category 1
								a(href="#").secondary__btn.float-right Read full article <span class='icon-Arrow-OutRight'></span>

		include elements/footer/footer-default.pug

		include elements/scripts.pug