section.margin-vertical
	.container.d-md-flex.align-items-center.pt-lg-5.pb-lg-5
		.col-md-6
			h1 Discover the luxury as a long title. <span>Your personal sanctuary.</span>
		.title-image
			img(src="images/title-image.jpg", alt="title-image")