section.carousel.full__width
	.container-fluid
		.row.d-block
			.full__carousel
				div(style="width: 1000px;")
					img(src="images/carousel-full.jpg", alt="carousel")
				div(style="width: 1000px;")
					img(src="images/carousel-full.jpg", alt="carousel")
				div(style="width: 1000px;")
					img(src="images/carousel-full.jpg", alt="carousel")