section.carousel
	.container
		h1 Image Carousel
		.image__carousel
			.slide
				.row.flex-md-row-reverse
					.col-md-7
						.overlay__image
							a(href="#")
								img(src="images/carousel.jpg", alt="carousel")
							.overlay__layout.d-flex.flex-column.justify-content-center
								h3 Image title
								a(href="images/carousel.jpg").secondary__btn.lightbox Zoom image <span class='icon-Arrow-OutRight'></span>
					.col-md-5
						.carousel__describe
							h2 Ground Floor
							.row
								.col-md-6
									h5.active--color Total Property Space
									.info__box.active--color
										span.icon-Duplicate-Layer
										|2200 sft
								.col-md-6
									h5.active--color Total Property Space
									.info__box.active--color
										span.icon-Duplicate-Layer
										|2200 sft
							h5.active--color Description
							p.active--color Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus? Maxime explicabo aliquam at sed architecto vitae vero. Vitae facilis, neque facere similique delectus minima voluptatum voluptate, possimus ipsum assumenda.

			.slide
				.row.flex-md-row-reverse
					.col-md-7
						.overlay__image
							a(href="#")
								img(src="images/carousel.jpg", alt="carousel")
							.overlay__layout.d-flex.flex-column.justify-content-center
								h3 Image title
								a(href="images/carousel.jpg").secondary__btn.lightbox Zoom image <span class='icon-Arrow-OutRight'></span>
					.col-md-5
						.carousel__describe
							h2 Ground Floor
							.row
								.col-md-6
									h5.active--color Total Property Space
									.info__box.active--color
										span.icon-Duplicate-Layer
										|2200 sft
								.col-md-6
									h5.active--color Total Property Space
									.info__box.active--color
										span.icon-Duplicate-Layer
										|2200 sft
							h5.active--color Description
							p.active--color Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus? Maxime explicabo aliquam at sed architecto vitae vero. Vitae facilis, neque facere similique delectus minima voluptatum voluptate, possimus ipsum assumenda.