section
	.container
		h1 Image Gallery Grid
		.row.no-gutters
			.col-md-6
				.overlay__image
					a(href="images/gallery.jpg")
						img(src="images/gallery.jpg", alt="gallery")
						.overlay__layout.d-flex.flex-column.justify-content-center
							h3 Image title
							a(href="images/carousel.jpg").secondary__btn.lightbox Zoom image <span class='icon-Arrow-OutRight'></span>

			.col-md-6
				.overlay__image
					a(href="images/gallery.jpg")
						img(src="images/gallery.jpg", alt="gallery")
						.overlay__layout.d-flex.flex-column.justify-content-center
							h3 Image title 2
							a(href="images/carousel.jpg").secondary__btn.lightbox Zoom image <span class='icon-Arrow-OutRight'></span>

			.col-md-6
				.overlay__image
					a(href="images/gallery.jpg")
						img(src="images/gallery.jpg", alt="gallery")
						.overlay__layout.d-flex.flex-column.justify-content-center
							h3 Image title 3
							a(href="images/carousel.jpg").secondary__btn.lightbox Zoom image <span class='icon-Arrow-OutRight'></span>

			.col-md-6
				.overlay__image
					a(href="images/gallery.jpg")
						img(src="images/gallery.jpg", alt="gallery")
						.overlay__layout.d-flex.flex-column.justify-content-center
							h3 Image title 4
							a(href="images/carousel.jpg").secondary__btn.lightbox Zoom image <span class='icon-Arrow-OutRight'></span>